.common__section {
  background: linear-gradient(#c2c3d9b2, #212245b2),
    url("../assets/images/1.7.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
  margin-top: 2%;
}